body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, turquoise, white);
  margin: 20px; /* Adjusted margin for smaller screens */
  padding: 10px; /* Adjusted padding for smaller screens */
  text-align: center;
}

#task {
  padding: 10px;
  width: 80%; /* Adjusted input width for smaller screens */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 20px; /* Adjusted margin for smaller screens */
}

#addButton {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
}

#task-list {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

li {
  display: flex;
  flex-direction: column; /* Stack elements vertically on smaller screens */
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  border-radius: 12px;
  width: 100%; /* Make list items fill the width on smaller screens */
}

button {
  padding: 10px 20px;
  border-radius: 40px;
}

/* Apply animation when completed class is added */
.completed {
  text-decoration: line-through;
}

.typing-demo {
  width: 100%;
  margin-left: 0; /* Reset margin for smaller screens */
}

@media (min-width: 768px) {
  /* Styles for tablets and larger screens */
  #task {
      width: 50%;
  }

  li {
      flex-direction: row; /* Display elements in a row on larger screens */
      width: 250px;
  }
}

@media (min-width: 992px) {
  /* Styles for desktop screens */
  body {
      margin: 50px; /* Adjusted margin for larger screens */
      padding: 20px; /* Adjusted padding for larger screens */
  }

  #task {
      width: 40%;
  }

  li {
      width: 300px;
  }
}
