body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, turquoise, white);
    margin: 100px;
    padding: 20px;
    text-align: center;
}

#task {
    padding: 5px;
    width: 50%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-top: 50px;
}

#addButton {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

#addButton:hover {
    background-color: #0056b3;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin: 80px;
    margin-left: 500px;
 
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    border-radius: 12px;
    width: 250px;
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background-color: #c82333;
}

.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    margin-left: 500px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }