body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, turquoise, white);
  margin: 20px;
  padding: 10px;
  text-align: center;
}

#task {
  padding: 10px;
  width: calc(100% - 40px); /* Adjusted width for smaller screens */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 20px;
  display: inline-block;
  box-sizing: border-box;
}

#addButton {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  background-color: lightblue;
  margin-top: 10px;
}

#task-list {
  list-style-type: none;
  margin-left: 450px;
  text-align: left;
}

li {
  display: inline-block;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 5px;
  padding: 10px;
  width: calc(100% - 22px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.delete {
  padding: 10px 20px;
  border-radius: 40px;
}
button.check {
  padding : 5px 10px;
  border-radius: 40px;
}

.completed-task label {
  text-decoration: line-through;
}


.typing-demo {
  width: 80%;
  max-width: 28ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}

/* Keyframes for Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 768px) {
  #task {
    width: calc(50% - 40px); /* Adjusted width for tablets and larger screens */
  }
  
  li {
    width: calc(50% - 22px);
  }
}

@media (min-width: 992px) {
  body {
    margin: 50px;
    padding: 20px;
  }

  #task {
    width: calc(40% - 40px); /* Adjusted width for desktop screens */
  }

  li {
    width: calc(40% - 22px);
  }
}
